body {

    margin: 0px;
    background-color: aliceblue;
}

.box1,
.box2,
.box3 {
    margin: 8px 0px;
    font-family: monospace;
}

.box1 {
    background-color: rgb(233, 190, 159);
    padding-left: 12px;
    border-left: 8px solid rgb(182, 81, 9);
    border-radius: 12px;
}
.box2{
    background-color: lightgreen;
    text-align: center;
    border-left: 15px solid darkgreen;
    border-right: 15px solid darkgreen;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    

}

.box3{
    background-color: rgb(241, 142, 142);
    text-align: end;
    padding-right: 29px;
    border-right: 10px solid rgb(132, 5, 5);
    border-radius: 5px;
}