.content{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(43, 149, 11, 0.041) 0%, rgba(0, 255, 76, 0.5) 100%) /*, url(../photo_2025-03-23_12-50-07.jpg)*/;
    background-repeat: no-repeat;
    background-size: contain;
}