* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tahoma,Verdana, Geneva,  sans-serif;
    text-decoration: none;
}

.box1 {
    background-color: #18FFFF;
    width: 800px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    text-align-last: left;
    color: #fff;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 10px;
    line-height: 30px;
    box-shadow: 2px 3px 8px red;

}

p {
    white-space: normal;
    word-spacing: 0.1px;
    letter-spacing: 1px;
    line-height: 1.8;
}
h1{
    text-shadow: 2px 2px 3px red;
    font-weight: 700;
}